<footer class="section--footer">
  <div class="container container--content">
    <!-- <ul class="socialAccountList">
      <li><a href="http://twitter.com/{{ site.author.twitter }}" class="socialAccount socialAccount--twitter" target="_blank"></a></li>
      <li><a href="http://facebook.com/{{ site.author.facebook }}" class="socialAccount socialAccount--facebook" target="_blank"></a></li>
      <li><a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="socialAccount socialAccount--linkedin" target="_blank"></a></li>
      <li><a href="{{ site.rss }}" class="socialAccount socialAccount--rss" target="_blank"></a></li>
    </ul> -->
    <div>
      ©2016 unit srl - cap.soc. 10.000,00 &euro; - Corso Gianelli 12/1 Chiavari (GE) 16043
    </div>
  </div>
</footer>